.site-header{
    background-color: #1a7373;;

    color: beige;
    height: 100vh;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-header-content{
    margin: 10px;
}


.profile-pic{
    width: 200px;
    height: 200px;
    /* background-repeat: no-repeat; */
    background-size: contain;
    /* border: 1px solid red; */
    box-shadow: #22a1a1 2px 5px 5px ;
    border-radius: 50%;}

.course-list{
    color: beige;
}

}
body{
    margin: 0;
}